.container{
    width: 100%;
    height:100%;
    margin-bottom:1rem;
}

.navbar{
    background-color:black;
}


h1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: inherit;
    color: white;
}

.event_Container{
    margin: 0px auto 0PX;
    width: 100%;
    text-align: center;
}

.add_btn {
    display: block;
    margin: 2rem auto 2rem auto;
    padding: 1.5rem 2rem 1.5rem 2rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.event_lists{
    margin:0 auto;
    width:75%;
    font-family: sans-serif;
}

table {
    height: 100%;
    border-collapse: separate;
    border: 0.5rem solid rgb(193, 194, 190);
    letter-spacing: 2px;
    border-radius: 5px;
    width: 100%;
    border-spacing: 0 1rem;
}

  tbody>tr{    
    background-color:rgb(193, 194, 190);
    margin-top: 1rem;
  }
  
  thead, tfoot {
    font-size:2rem;
    margin-bottom: 50px;
  }
  
  tbody {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  
  .add_btn:hover {
    background-color: #0056b3;
  }

.addBtn,
.editBtn,
.saveBtn {
    background-color: #035bb9;
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem; 
    cursor: pointer;
}


.deleteBtn,
.cancelBtn {
    background-color: #960505; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.addBtn:hover,
.editBtn:hover,
.saveBtn:hover,
.deleteBtn:hover,
.cancelBtn:hover {
    opacity: 0.8;
}


@media screen and (max-width:768px) {
    .container{
        width: 100%;
        height:100%;
        margin-bottom:0.5rem;
    }

    tbody>tr{    
        background-color:rgb(193, 194, 190);
        margin-top: 0.5rem;
    }
    
    thead, tfoot {
        font-size:1rem;
        margin-bottom: 25px;
    }
    
    tbody {
        margin-top: 5px;
        font-size: 1rem;
    }

    .add_btn {
        display: block;
        margin: 1rem auto 1rem auto;
        padding: 1rem 1.5rem 1rem 1.5rem;
        font-size: 0.5rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}